.album-index-container {
  align-self: center;
  height:100%;
  background-color: none;
  overflow:auto;
  margin: 0 auto;
  margin-top: -10px;
}

.album-index-container::-webkit-scrollbar {
    display: none;
}


.album-index-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width:150px;
  overflow: hidden;
  margin: 15px;
}

.album-index-item:hover {
  opacity: 0.5 !important;
}

.album-index-item-image {
  height: 150px;
  width: 150px;
}

.album-index-item-title {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0.5 black;
  align-self: center;
  color: white;
  z-index: 111111;
  left: 0;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 100%;
}

.album-index-item-title > span {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.85;

}

.album-show-container{
  display: flex;
  flex-direction: column;

  height: 100%;
  position: relative;
}

.album-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  height: 100%;
}

.album-content-container {
  display: inline-flex;
  flex-direction: column;
  width: 75%;
  position: relative;
  left: 0;
  background-size: 500%;
  overflow: auto;
}

.album-content-container::-webkit-scrollbar {
    display: none;
}


.album-header {
  position: absolute;
  margin-left: 15px;
  margin-top: 25px;
}

.album-header-image {
  height: 200px;
  width: 200px;
  opacity: 0.75;
}

.album-header-name {
  margin-bottom: 0px;
  font-size: 36px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  color: rgba(255,255,255, 0.75);
  background-color: rgba(0,0,0,0.35);
}

.album-song-index {
  position: absolute;
  top: 50px;
  left: 185px;
  width: 70%;
}

.album-sidebar-index-container {
  display: flex;
  flex-direction: column;
  align-self: right;
  overflow: auto;
  width: 25%;
  align-content: center;
  max-width: 25%;
  overflow-x: hidden;

}

.album-sidebar-index-container::-webkit-scrollbar {
    display: none;
}


.album-sidebar-index-header {
  align-self: center;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}




.album-sidebar-index-header {
  align-self: center;
}




.album-sidebar-index-header {
  align-self: center;
}
.artist-header-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  position: relative;
  height: 30vh;
  width: 100%;
  min-height: 75px;
  max-height: 125px;
  min-width: 75px;
  z-index: 1000;
  /*background-image: url('http://wallpoper.com/images/00/36/33/23/black-white_00363323.jpg');*/
  /*background-position: center;*/
  padding-bottom: 10px;
  align-items: center;
  overflow: hidden;
}

.artist-header-image {
  opacity: 0.65;
}

.artist-header-name {
  font-size: 300%;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0.5 black;
  position: absolute;
  align-self: center;
  color: white;
  opacity: 0.85;
  bottom: 0;
}

.artist-index-container {
  align-self: center;
  height:100%;
  background-color: none;
  overflow:auto;
  margin: 0 auto;
  margin-top: -10px;
}

.artist-index-item:hover {
  opacity: 0.5 !important;
}

.artist-container::-webkit-scrollbar {
    display: none;
}

.artist-index-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width:150px;
  overflow: hidden;
  margin: 15px;
}

.artist-index-item-image {
  height: 150px;
  width: 150px;
}

.artist-index-item-name {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0.5 black;
  align-self: center;
  color: white;
  z-index: 111111;
  left: 0;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 100%;
}

.artist-index-item-name > span {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.85;

}
.explore-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.explore-header {
  display: flex;
  flex-direction: column;
  width: inherit;
  position: relative;
  height: 30vh;
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  min-width: 75px;
  z-index: 1000;
  /*background-image: url('http://wallpoper.com/images/00/36/33/23/black-white_00363323.jpg');*/
  /*background-position: center;*/
  padding-bottom: 10px;
  align-items: center;
}

.explore-header-text {
  position: relative;
  align-self: center;
  font-size: 72px;
  font-weight: bold;
  text-shadow: 1px 1px  12px black;
}

.explore-content-container {
  width: inherit;
  overflow: auto;
}

.explore-content-container::-webkit-scrollbar {
    display: none;
}

.explore-header-image {
  width:auto;
}
.footer-container {
  position: fixed;
  bottom: 0;
  height:35px;
  width:101%;

  background-color: #FF0000;
  opacity: 0.75;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-audio-player {
   max-width: 60%
}

.footer-logo {
  position: fixed;
  right: 0;
  bottom: 0;
   align-self: flex-end;
}
.header-container {
  display: inline-flex;
  position: fixed;
  left:0
  right: 0;
  top: 0;
  width:101%;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.75);
  /*opacity: 0.75;*/
  z-index: 1030;
}

.login-signup {
  display: inline-flex;
  float:right;
  position: fixed;
  margin-right: 10px;
  right:0;
  top:0;
  list-style: none;
}

.login-signup li{
  display: block;
  top:0;
}

.login-signup-button {
  display: block;
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-style: italic;
  border:1px hidden;
  background-color: white;
  opacity: 0.65;
  margin-top: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.login-signup-button:hover {
  opacity: 1;
}

.header-signin {

}

.header-signup {

}

.header-logo {

}

.profile-links {
  display: inline-flex;
  float: right;
  position: fixed;
  right: 0;
  list-style: none;
  margin-right: 15px;
  margin-top: 0px;
  height: 50px;
}

.profile-picture {
  height:50px;
  width: 50px;
  opacity: 0.65;
  margin-right: 5px;
}

.profile-picture:hover {
  opacity: 1;
}

.user-username {
  color: white;
  font-weight: bold;
  opacity: 1;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-top: 10px;
  position: fixed;
  right:0;
}

.logout-button {
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  border:1px hidden;
  background-color: white;
  opacity: 0.65;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 30px;
}

.logout-button:hover {
  opacity: 1;
  cursor:pointer;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font: 'helvetica-neue';
}

.login-form-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px 8px black;
  margin-bottom: -25px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  border: 1px solid white;
  width:150px;
  align-self: center;
  border-radius: 15px;
}

.login-form-box {
  outline: 1px solid black;
  padding: 20px;
  color: white;
  width:200px;
  background-color: #999999;
  opacity: 0.75;
  border: 1px hidden white;
  border-radius: 3px;
}

input{
   text-align:center;
   font-style: italic;
}

.login-submit {
  font-size: 16px;
  width: 50px;
  align-self: center;
  background-color: #333333;
  color: white;
  border: 1px hidden;
  border-radius: 5px;
  font-style: normal;
}
.login-submit:hover {
  background-color: black;
  cursor: pointer;
}

.login-form-nav {
  text-shadow: 1px 1px 5px black;
}

.login-form-nav-button {
  background-color: #333333;
  text-decoration: none;
  padding: 5px;
  border: 1px hidden;
  border-radius: 5px;
  margin-top: 100px;
  color:white;
  margin-right: 10px;
}
.login-form-nav-button:hover {
  background-color: black;
}

.login-form-guest-button {
  background-color: #333333;
  color: white;
  border: 1px hidden;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px black;
}

.login-form-guest-button:hover {
  background-color: black;
  cursor: pointer;
}

.login-error {
  margin-top: 10px;
  font-size: 10px;
  list-style: none;
  color: red;
  font-size: 10px;
}
.playlist-show-container{
  overflow: auto;
  max-width: 600px;
}

.playlist-show-container::-webkit-scrollbar {
    display: none;
}

.playlist-index-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width:150px;
  overflow: hidden;
  margin: 15px;
}

.playlist-index-item:hover {
  opacity: 0.5 !important;
}

.playlist-index-item-name {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0.5 black;
  align-self: center;
  color: white;
  z-index: 111111;
  left: 0;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 100%;
}

.playlist-index-item-name > span {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.85;

}

.playlist-image {
  height:150px;
  width: 150px;
}

.new-playlist-container {

}

.new-playlist-form {

}

.new-playlist-title {

}

.new-playlist-button {
  border: 1px hidden;
  border-radius: 5px;
}

.user-playlist-items {
  width: 200px;
  height: 25%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 0px;
}

.user-playlist-items::-webkit-scrollbar {
  display: none;
}

.add-to-playlist-button {
  display: flex;
  margin-top: 5px;
  border: 1px hidden;
  margin-right: 3px;
  background: none;
  color: white;
  font-size: 18px;
  margin-bottom: 0px;
  text-align: center;
}
.add-to-playlist-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
.sibdebar {
  display: flex;
  position: relative;
  overflow: hidden;
}

.sidebar-playlist-header {
  position: absolute;
  bottom: 375px;
  text-align: center;
  width: 147px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
  padding-bottom: 3px;
  font-weight: bold;
}


.sidebar-playlist-index {
  width: 140px;
  color: white;
  height: 100px;
  position: absolute;
  bottom: 255px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  overflow: auto;
  text-align: center;
  color: rgba(255,255,255,0.6);
}

.sidebar-playlist-index::-webkit-scrollbar {
    display: none;
}

.playlist-title-item {
  margin-left: -35px;
  padding-right: 10px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  background-color: rgba(255,255,255,0.10);
}

.playlist-title-item > a{
  text-decoration: none;
}

.playlist-title-item-name > span {
  opacity: 0.6;
}

.playlist-title-item-name {
  color: white;
}

.sidebar-playing-container {
  display: flex;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.sidebar-album-picture {
  height: 100%;
  width: 100%;
  max-height: 150px;
  max-width: 150px;
}


.create-playlist-button {
  border: 1px hidden;
  border-radius: 5px;
  position: absolute;
  bottom: 250px;
  left: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}

.create-playlist-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
}

.now-playing-container {
  max-width: 150px;
}

.now-playing-header {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
}

.now-playing-title {
  font-style: italic;
  font-size: 14px;
}

.now-playing-artist {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.song-index-container {
  list-style: none;
  margin-left: 0px;
  height: inherit;
  overflow: hidden;
  width: inherit;
}

.song-index-item {
  border-bottom: 1px solid rgba(255,255,255,0.25);
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  color: rgba(255,255,255,0.55);
}

.song-button {
  display: flex;
  flex-direction: row;
}

.play-button {
  display: flex;
  max-width: 15px;
  max-height: 15px;
  opacity: 0.75;
  background-color: rgba(255,255,255,0.55);
  border: 1px hidden;
  border-radius: 2px;
}

.add-button {
  display: flex;
  max-width: 15px;
  max-height: 15px;
  margin-left: 10px;
  background-color: rgba(255,255,255,0.40);
  border: 1px hidden;
  border-radius: 2px;
}

.play-button:hover {
  opacity: 1;
  cursor: pointer;
}

.add-button:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(255,255,255, 0.65);
}

.song-index-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.song-index-item-title {
  display: flex;
  font-style: italic;
  padding-left: 10px;
  position: relative;
}

.song-length {
  display: flex;
}
html *
{
   font-family: 'Helvetica Neue' !important;
}

body {
  min-height: 100%;
  background-color: #000000;
  margin-left: -10px;
  background-image: url('http://res.cloudinary.com/dtatkxxcm/image/upload/v1473275148/interior-amazing-design-cool-black-and-white-wallpaper-with-black-white-abstract-image-use-the-level-of-high-art-also-uses-black-and-white-wallpaper-background-elegant-interesting-if-installed-indoors_vbeluy.jpg');
  /*http://media.adriadaily.com/2016/03/dim.jpg'*/
  background-repeat: no-repeat;
  background-color: black;
  background-size: 200%;
  background-position: top;
}

.app-container {
  color:white;
  display: flex;
  flex-direction: row;
  position: fixed;

  top: 50px;
  bottom: 35px;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  background-color: rgba(0,0,0,0.75);
  height: auto;
}

.sidebar-container {
  display: flex;
  min-width: 150px;
  max-width: 150px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.sidebar-container:hover {

}

.app-content-container {
  display: inline-flex;
  flex-direction: column;
  background-color: none;
  width: 100%;
  align-self: flex-end;
  overflow: auto;
  height: 100%;
  margin-right: 0 auto;
}
.user-container {
  display: flex;
  height: 100%;
  position: relative;
}

.user-header-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
}

.user-header-profile-picture {
  display: flex;
  width: 200px;
  height: 200px;
}

.user-header-username {
  position: absolute;
  left: 225px;
  font-size: 60px;
  font-weight: bold;
}

.user-header-text {
  position: absolute;
  left: 225px;
  top: 155px;
  font-weight: bold;
  font-size: 36px
}

.user-playlist-container {
  display: flex;
  position: absolute;
  top: 200px;
  width: 100%;
  bottom: 0px;
  overflow: auto;
  list-style: none;

}

.user-playlist-container::-webkit-scrollbar {
  display: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

