.album-index-container {
  align-self: center;
  height:100%;
  background-color: none;
  overflow:auto;
  margin: 0 auto;
  margin-top: -10px;
}

.album-index-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width:150px;
  overflow: hidden;
  margin: 15px;
}

.album-index-item:hover {
  opacity: 0.5 !important;
}

.album-index-item-image {
  height: 150px;
  width: 150px;
}

.album-index-item-title {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0.5 black;
  position: absolute;
  align-self: center;
  color: white;
  z-index: 111111;
  opacity: 0.85;
  top:67px;
}

.album-container {
  display: flex;
  flex-direction: row;
}

.album-content-container {
  display: flex;
  height: auto;
  align-self: center;
  width: 75%;
  background-color: red;
}

.album-content-image {
  opacity: 0.5;
  overflow: hidden;
}

.album-header {

}

.album-header-name {

}

.album-sidebar-index-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  overflow: auto;
  width: 25%;
}
