.artist-header-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  position: relative;
  height: 30vh;
  width: 100%;
  min-height: 75px;
  max-height: 125px;
  min-width: 75px;
  z-index: 1000;
  /*background-image: url('http://wallpoper.com/images/00/36/33/23/black-white_00363323.jpg');*/
  /*background-position: center;*/
  padding-bottom: 10px;
  align-items: center;
  overflow: hidden;
}

.artist-header-image {
  opacity: 0.65;
}

.artist-header-name {
  font-size: 300%;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0.5 black;
  position: absolute;
  align-self: center;
  color: white;
  opacity: 0.85;
  bottom: 0;
}

.artist-index-container {
  align-self: center;
  height:100%;
  background-color: none;
  overflow:auto;
  margin: 0 auto;
  margin-top: -10px;
}

.artist-index-item:hover {
  opacity: 0.5 !important;
}

.artist-container::-webkit-scrollbar {
    display: none;
}

.artist-index-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width:150px;
  overflow: hidden;
  margin: 15px;
}

.artist-index-item-image {
  height: 150px;
  width: 150px;
}

.artist-index-item-name {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0.5 black;
  align-self: center;
  color: white;
  z-index: 111111;
  left: 0;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 100%;
}

.artist-index-item-name > span {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.85;

}
