/*.explore-comtainer {
  display: flex;
  background-color: black;
  width: 75%;
  height: 500px;
  margin-left: 24.5%;
}
.explore-header {
  width: inherit;
}

.explore-header-image {
  width: 133.5%;
}*/
