.footer-container {
  position: fixed;
  bottom: 0;
  height:35px;
  width:101%;

  background-color: #FF0000;
  opacity: 0.75;
  color: white;
}

.footer-logo {
  position: fixed;
  right: 0;
  bottom: 0;
}
