.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font: 'helvetica-neue';
}

.login-form-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px 8px black;
  margin-bottom: -25px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  border: 1px solid white;
  width:150px;
  align-self: center;
  border-radius: 15px;
}

.login-form-box {
  outline: 1px solid black;
  padding: 20px;
  color: white;
  width:200px;
  background-color: #999999;
  opacity: 0.75;
  border: 1px hidden white;
  border-radius: 3px;
}

input{
   text-align:center;
   font-style: italic;
}

.login-submit {
  font-size: 16px;
  width: 50px;
  align-self: center;
  background-color: #333333;
  color: white;
  border: 1px hidden;
  border-radius: 5px;
}
.login-submit:hover {
  background-color: black;
  cursor: pointer;
}

.login-form-nav {
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
}

.login-form-nav-button {
  background-color: #333333;
  text-decoration: none;
  padding: 5px;
  border: 1px hidden;
  border-radius: 5px;
  margin-top: 100px;
  color:white;
}
.login-form-nav-button:hover {
  background-color: black;
}

.login-error {
  margin-top: 10px;
  font-size: 10px;
  list-style: none;
  color: red;
  font-size: 10px;
}
