.sibdebar {
  display: flex;
  position: relative;
  overflow: hidden;
}

.sidebar-playlist-header {
  position: absolute;
  bottom: 375px;
  text-align: center;
  width: 147px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
  padding-bottom: 3px;
  font-weight: bold;
}


.sidebar-playlist-index {
  width: 140px;
  color: white;
  height: 100px;
  position: absolute;
  bottom: 255px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  overflow: auto;
  text-align: center;
  color: rgba(255,255,255,0.6);
}

.sidebar-playlist-index::-webkit-scrollbar {
    display: none;
}

.playlist-title-item {
  margin-left: -35px;
  padding-right: 10px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  background-color: rgba(255,255,255,0.10);
}

.playlist-title-item > a{
  text-decoration: none;
}

.playlist-title-item-name > span {
  opacity: 0.6;
}

.playlist-title-item-name {
  color: white;
}

.sidebar-playing-container {
  display: flex;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.sidebar-album-picture {
  height: 100%;
  width: 100%;
  max-height: 150px;
  max-width: 150px;
}


.create-playlist-button {
  border: 1px hidden;
  border-radius: 5px;
  position: absolute;
  bottom: 250px;
  left: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}

.create-playlist-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
}

.now-playing-container {
  max-width: 150px;
}

.now-playing-header {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
}

.now-playing-title {
  font-style: italic;
  font-size: 14px;
}

.now-playing-artist {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
