.song-index-container {
  list-style: none;
  margin-left: 0px;
  height: inherit;
  overflow: hidden;
}

.song-index-item {
  border-bottom: 1px solid rgba(255,255,255,0.25);
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  color: rgba(255,255,255,0.55);
}

.play-button {
  display: flex;
  max-width: 15px;
  max-height: 15px;
  opacity: 0.75;
  background-color: rgba(255,255,255,0.55);
  border: 1px hidden;
  border-radius: 2px;
}

.play-button:hover {
  opacity: 1;
  cursor: pointer;
}

.song-index-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.song-index-item-title {
  display: flex;
  font-style: italic;
  padding-left: 10px;
  position: relative;
}

.song-length {
  display: flex;
}
