html *
{
   font-family: 'Helvetica Neue' !important;
}

body {
  background-color: #CCCCCC;

}

main {
  height: auto;
  padding-bottom: 50px;
  margin-left: 35px;
  margin-right: 35px;
  background-color: #000000;
}
