html *
{
   font-family: 'Helvetica Neue' !important;
}

body {
  min-height: 100%;
  background-color: #000000;
  margin-left: -10px;
}

.app-container {
  color:white;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  top: 50px;
  bottom: 35px;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  /*background-color: grey;*/
  opacity: 0.85;
  height: auto;
  /*padding-top: 15px;*/
}
