html *
{
   font-family: 'Helvetica Neue' !important;
}

body {
  min-height: 100%;
  background-color: #000000;
  margin-left: -10px;
  background-image: url('http://media.adriadaily.com/2016/03/dim.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-size: 200%;
  background-position: top;
}

.app-container {
  color:white;
  display: flex;
  flex-direction: row;
  position: fixed;
  overflow: auto;
  top: 50px;
  bottom: 35px;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  background-color: rgba(0,0,0,0.75);
  /*opacity: 0.65;*/
  height: auto;
  /*padding-top: 15px;*/
}

.sidebar-container {
  display: flex;
  width: 20%;
  max-width: 150px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.sidebar-container:hover {

}

.app-content-container {
  display: inline-flex;
  flex-direction: column;
  background-color: none;
  width: 100%;
  align-self: flex-end;
  overflow: auto;
  height: 100%;
}
